body {
    background: rgb(206,245,131);
    background: linear-gradient(90deg, rgba(206,245,131,0.5) 0%, rgba(153,205,50,0.5) 50%, rgba(95,139,9,0.5) 100%); 
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60vw 30vw;
    margin-inline: 5vw;
    grid-template-areas: 
    "titel titel"
    "navi navi"
    "main side"
    "footer side"
    ;
}

main {
    grid-area: main;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 30vw);
    grid-template-areas: 
    "txt1 pic1"
    "pic2 pic1"
    "pic2 txt2"
    ;
}

header {
    grid-area: titel;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.navbar {
    grid-area: navi;
}

.picture1 {
    grid-area: pic1;
}

.text1 {
    grid-area: txt1;
}

.picture2 {
    grid-area: pic2;
    align-self: end;
}

.text2 {
    grid-area: txt2;
}

aside{
    grid-area: side;
    padding: 12px 12px 0px;
}

footer{
    grid-area: footer;
    background: rgb(59, 59, 59);
    align-self: end;
    color: cornsilk;
    text-align: center;
}

.img-fluid {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    max-width: 90%;
    margin: 1% 5%;
    border-radius: 30px;
}

@media (min-width: 800px) {
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 100px;
        list-style-type: none;
        background: rgb(0,128,0);
        background: linear-gradient(163deg, rgba(0,128,0,1) 0%, rgba(170,255,170,0.98) 33%, rgba(166,252,169,0.88) 69%, rgba(46,162,143,0.85) 92%, rgba(168,228,254,0.8) 100%);   border-left: solid 8px white;
        border-radius: 100px;
        border: solid 8px white;
    }
}

@media (max-width: 1200px) {
    body{
        align-content: center;
        grid-template-columns: 90vw;
        grid-template-areas: 
        "titel"
        "navi"
        "main"
        "side"
        "footer"
        ; 
    }
    main{
        grid-template-columns: repeat(2, 45vw)
    }
}

@media (max-width: 700px) {
    
    main{
        align-content: center;
        grid-template-columns: 90vw;
        grid-template-areas: 
        "txt1"
        "pic1"
        "txt2"
        "pic2"
        ;
    }
}
