body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 30vw;
    height: 95vh;
    justify-content: space-evenly;
}

button {
    height: 6vh;
    width: 8vw;
}

div {
    height: 4vh;
    width: 12vw;
    text-align: center;
}
