* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --main: #84a732;
    --main2:#546d19;
    --back: #ffffff;
    --back2: #dadada;
    --grey: #666666;
    --grey2: #858585;
}


body {
    background-color: var(--back);
    margin: 0;
}

.navtop {
    background-color: var(--main);
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: var(--back);
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: var(--back2);
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: var(--back);
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid var(--back2);
    color: var(--grey);
}

.btns {
    display: flex;
}

.btns .btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--main);
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: var(--back);
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.btns .btn:hover {
    background-color: var(--main2);
}

.btns .btn.blue {
    background-color: #38b2b6;
}

.btns .btn.blue:hover {
    background-color: #2f8c8f;
}


.btns .btn.red {
    background-color: #b63838;
}

.btns .btn.red:hover {
    background-color: #a33232;
}


.home .tickets-list {
    display: flex;
    flex-flow: column;
}

.home .tickets-list .ticket {
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid var(--back2);
    display: flex;
    text-decoration: none;
}

.home .tickets-list .ticket .con {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.home .tickets-list .ticket i {
    text-align: center;
    width: 80px;
    color: var(--grey2);
}

.home .tickets-list .ticket .title {
    font-weight: 600;
    color: var(--grey);
}

.home .tickets-list .ticket .msg {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    color: var(--grey2);
    font-size: 14px;
}

.home .tickets-list .ticket .created {
    flex-grow: 1;
    align-items: flex-end;
    color: var(--grey2);
    font-size: 14px;
}

.home .tickets-list .ticket:last-child {
    border-bottom: 0;
}

.home .tickets-list .ticket:hover {
    background-color: #eeeeee;
}

.view h2 .open {
    color: #2f8c8f;
}
.view h2 .resolved {
    color: #38b673;
}

.view h2 .closed {
    color: #b63838;
}

.view .ticket {
    padding: 20px 0;
}

.view .ticket .created {
    color: var(--grey);
}

.view .comments {
    margin-top: 15px;
    border-top: 1px solid var(--back2);
    padding: 25px 0;
}

.view .comments .comment {
    display: flex;
    padding-bottom: 5px;
}

.view .comments .comment div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70px;
    color: var(--back2);
    transform: scaleX(-1);
}

.view .comments .comment p {
    margin: 0 0 20px 0;
}

.view .comments .comment p span {
    display: flex;
    font-size: 14px;
    padding-bottom: 5px;
    color: var(--grey);
}

.create form,
.view form {
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    width: 400px;
}

.create form label,
.view form label {
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
    margin-right: 25px;
}

.create form input,
.create form textarea,
.view form input,
.view form textarea {
    padding: 10px;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid var(--back2);
}

.create form textarea,
.view form textarea {
    height: 200px;
}

.create form input[type="submit"],
.view form input[type="submit"] {
    display: block;
    background-color: var(--main);
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: var(--back);
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
}

.create form input[type="submit"]:hover,
.view form input[type="submit"]:hover {
    background-color: var(--main2);
}