body {
    background-color:rgb(255, 239, 194);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
nav{
  margin-bottom: 50pt;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 10rem;
    align-items: center;
    min-height: 100px;
    list-style-type: none;
    
    border-radius: 100px;
    border: solid 8px white;
}
nav a {
    margin: 0pt 35px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}
.push {
  margin-left: auto;
}
    
.logo {
    height: 4rem;
    justify-self: flex-start;
}
main {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.news {
    display: flex;
    flex-direction:column;
    max-width: 45%;
}

.news-item {
    display: flex;
    max-width: 100%;
    flex-flow: row;
    flex-shrink: 1;
}
.item {
    width: 100%;
}
.text {
    padding: 10px;
    min-width: 50%;
}
.img-fluid, .img-fluid2{
    border-radius: 30px;
    padding: 10px;
    max-width: 95%;
    flex: 100% 1 1;
}
.img-fluid{
    min-width: 30%;
    max-width: 33%;
    min-width: 270px;
}
.animalTable, .contactForm {
    min-width: 70%;
    max-width: 90%;
    margin:0px auto 40px;
    padding: 10px;
    border-spacing: 10px;
    text-align: center;
    border: solid 5px white;
}
main div{
  margin: 20px 0px;
}
dl{
  font-size: 18pt;
}
dd{
  text-align: center;
}

footer{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 228, 163);
  color: rgb(95, 173, 125);
}

.footblock{
  max-width: 95%;
  display: flex;
  justify-content: space-evenly;
}

footer div{
  min-width: 130px;
  margin: 5px;
}

.slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(40, 80, 80, 0.6);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(40, 80, 80);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1170px) {
  main {
      flex-direction: column;
      align-items: center;
  }
  .news{
    max-width: 75%;
  }
  .footblock{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .news-item{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .footblock{
    flex-direction: column;
    align-items: center;
  }
}